<div class="card"> 
    <div class="card-header d-flex justify-content-between">
        <h2><a href="/post/{{id}}">{{post.title}} Title?</a></h2>
        <p>Post by {{user.username}} on {{format_date}}</p>
    </div>
    <div class="card-body">
        <p>{{post.content}}</p>
        or something here.
    </div> 
</div>