<div class="card">
    <div class="card-header d-flex justify-content-between">
        <h2><a href="/post/{{id}}">{{post.title}}</a></h2>
        <p>Post by {{post.user.username}} on {{format_date post.dateCreated}}</p>
    </div>
    <div class="card-body">
        <p>{{post.content}}</p>
    </div>
    <input type="hidden" name="post-id" value="{{post.id}}">
</div>
<div>
    {{> comment-details post.comments}}
</div>
<form class="card">
    <div class="car-header"></div>
    <div class="card-body comment-form">
        <div class="form-group mb-3">
            <label for="comment-text">Comment</label>
            <textarea class="form-input" type="text" id="comment-text"></textarea>
        </div>

        <div class="form-group mb-2">
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </div>
    </div>
</form>

<script src="/js/comment.js"></script>